<section class="container" [ngClass]="{'form-shadow' : registrationForm.touched}">
  <header>Registration Form</header>


  <form class="form" (ngSubmit)="OnFormSubmitted()" #registrationForm="ngForm">
    <div class="column">
      <div class="input-box">
        <input type="text" placeholder="First Name" name="firstName" ngModel required #fname="ngModel"/>
        <div>
          <small *ngIf="fname.invalid && fname.touched">*First Name is a Required Field</small>
          <span *ngIf="firstName"> you entered : {{firstName}}</span>
        </div>
      </div> 

      <div class="input-box">
        <input type="text" placeholder="Last Name" name="lastName" ngModel required #lname="ngModel" />
        <div>
          <small *ngIf="lname.invalid && lname.touched">*Last Name is a Required Field</small>
          <span  *ngIf="lastName"> you entered : {{lastName}}</span>
        </div>
      </div>
    </div>    

    <div class="input-box">
      <input type="text" placeholder="Email" name="email" ngModel required email #email="ngModel" />
      <div>
        <small *ngIf="email.invalid && email.touched">*Email is a Required Field</small>
        <span *ngIf="emailAddress && email.valid"> you entered : {{ emailAddress }}</span>
      </div>
    </div>

    <div class="column">
      <div class="input-box">
        <input type="number" placeholder="Phone Number"  name="phone" ngModel  />
      </div>
      <div class="input-box">
        <input type="date" placeholder="Date of Birth"  name="dob" ngModel required #tempDob="ngModel"/>
      </div>
    </div>
    
    

    <div class="input-box">
      <input type="text" placeholder="username" name="username"  ngModel required #uname="ngModel"/>
      <button class="btn-gen-username" type="button" value="name"  (click)="GenerateUsername()">
        Create a Username
      </button>
      <!-- [disabled]="fname.invalid || lname.invalid || tempDob.invalid" -->
    </div>
    <div>
          <small *ngIf="uname.invalid && uname.touched ">*Username is Required </small>
    </div>

    <div class="gender-box">
      <h3>Gender</h3> 
      <div class="gender-option">
        <div class="gender" *ngFor="let gen of genders">
          <input type="radio" [id]="gen.id" name="gender"  [value]="gen.value" ngModel />
          <label >{{gen.display}}</label>
        </div>
        <!-- <div class="gender">
          <input type="radio" id="check-female" name="gender"   value="female" ngModel />
          <label >Female</label>
        </div>
        <div class="gender"> 
          <input type="radio" id="check-other" `name="gender"   value="prefer not to say "  ngModel/>
          <label for="check-other">prefer not to say</label>
        </div> -->
      </div>
    </div>

    <div class="input-box address" ngModelGroup="address" #addr="ngModelGroup">
      <label>Address</label>
      <input type="text" placeholder="Street address"  name="Street1" ngModel required/>
      <input type="text" placeholder="Street address line 2" name="Street2" ngModel/>
      <div class="column">
        <div class="select-box">
          <select name="country" ngModel required>
            <option >Country</option>
            <option>America</option>
            <option>Japan</option>
            <option >India</option>
            <option>Nepal</option>
          </select>
        </div>
        <input type="text" placeholder="City" name="city"  ngModel required />
      </div>
      <div class="column">
        <input type="text" placeholder="Region" name="Region" ngModel />
        <input type="number" placeholder="Postal code" name="Postal" ngModel required />
      </div>
    </div><br>

    <div class="column">
      <input type="checkbox" name="agreement" [(ngModel)]="isAgree">
      <label for="agreement"> I agree to terms & Conditions </label><br>
    </div>

    <input type="submit" value="Submit" class="submit-btn" [disabled]="registrationForm.invalid"> 
    <small *ngIf="!addr.valid && addr.touched">Some of the address fields does not contain a valid value </small>
  </form>
</section> 

<section class="user-detail-container">
  <div class="user-detail-container">
    <div class="user-avatar">
      <p>{{firstName.slice(0,1)}}{{lastName.slice(0,1)}}</p>
    </div>
    <div class="user-details">
      <div class="user-name">
        <h2>{{firstName}} {{lastName}}</h2>
      </div>
      <p><b>Email: </b> {{emailAddress}} </p>
      <p><b>Username:</b> {{uName}}</p>
      <p><b>Date of birth:</b> {{dob}}</p>
      <div class="user-name">
        <h3>Address</h3>
      </div>
      <span> {{country}} </span>
      <span> {{city}} </span>
      <span> {{region}} </span>
      <span> {{postal}} </span>
    </div>
  </div>

</section>